<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <title>Document</title>
    <style>
        .p1 {
            margin-top: 20px;
            margin-right: 50px;
            margin-bottom: 20px;
            margin-left: 15px;
            display: inline-block;
            font-weight: bold;
            font-size: larger;
            color: aliceblue;
            background-color: black;
            width: 300px;
        }
    </style>
</head>

<body>
    <div class="table-responsive text-center container div-scroll"
        style="margin-top:30px ; height: auto; width : auto; background-color:rgb(183, 221, 209); margin-bottom: 30px;"
        id="div1">
        <p class="p1">Total Courses : <%= noOfData.rows[0].COUNT %>
        </p>
        <button class="btn btn-dark" type="button" id="allCourses">
            All Courses
        </button>
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Department Wise
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <% depts.rows.forEach(department=> { %>
                <li><a class="dropdown-item DeptCoursesAnchor" href="#">
                        <%= department.DEPARTMENT %>
                    </a></li>
                <% }); %>
        </ul>
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
            aria-expanded="false" style="margin-right: 10px;">
            Levl-Term Wise
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
            <% level_term.rows.forEach(L_T=> { %>
                <li><a class="dropdown-item L_TCoursesAnchor" href="#">
                        <%= L_T.LEVEL_TERM %>
                    </a></li>
                <% }); %>
        </ul>
        <input type="text" placeholder="Search By Course ID" id="course_idWiseCourseSearchBox" style="width: 180px;">
        <button class="btn btn-secondary btn-sm" id="course_idWiseCourseSearchButton" style="margin-right: 50px;">Search</button>
        <button class="btn btn-secondary btn-sm type="button" id="addCourses">
            ADD Course
        </button>
        <div class="table-responsive text-center container"
            style=" height: auto; width : auto; background-color:rgb(183, 221, 209);" id="div2">
        </div>
    </div>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>


</html>